# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias -- -="cd -"

# Shortcuts
alias d="cd ~/Dropbox\ \(enterVOID\ Production\)"
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"
alias p="cd ~/Dropbox\ \(enterVOID\ Production\)/Work/Platform\.sh"
alias g="git"

# Detect which `ls` flavor is in use
if ls --color > /dev/null 2>&1; then # GNU `ls`
    colorflag="--color"
else # OS X `ls`
    colorflag="-G"
fi

# List all files colorized in long format
alias l="ls -lF ${colorflag}"

# List all files colorized in long format, including dot files
alias la="ls -laF ${colorflag}"

# List only directories
alias lsd="ls -lF ${colorflag} | grep --color=never '^d'"

# Always use color output for `ls`
alias ls="command ls ${colorflag}"
export LS_COLORS='no=00:fi=00:di=01;34:ln=01;36:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:ex=01;32:*.tar=01;31:*.tgz=01;31:*.arj=01;31:*.taz=01;31:*.lzh=01;31:*.zip=01;31:*.z=01;31:*.Z=01;31:*.gz=01;31:*.bz2=01;31:*.deb=01;31:*.rpm=01;31:*.jar=01;31:*.jpg=01;35:*.jpeg=01;35:*.gif=01;35:*.bmp=01;35:*.pbm=01;35:*.pgm=01;35:*.ppm=01;35:*.tga=01;35:*.xbm=01;35:*.xpm=01;35:*.tif=01;35:*.tiff=01;35:*.png=01;35:*.mov=01;35:*.mpg=01;35:*.mpeg=01;35:*.avi=01;35:*.fli=01;35:*.gl=01;35:*.dl=01;35:*.xcf=01;35:*.xwd=01;35:*.ogg=01;35:*.mp3=01;35:*.wav=01;35:'

# Enable aliases to be sudo’ed
alias sudo='sudo '

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"
alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# URL-encode strings
alias urlencode='python -c "import sys, urllib as ul; print ul.quote_plus(sys.argv[1]);"'

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'

#
# Aliases and functions stolen from Wes Curtis (https://github.com/wtcurtis/dotfiles)
#

alias grep='grep --color=auto'
alias egrep='egrep --color=auto'

# some more ls aliases
alias ll='ls -alF'

alias tmux="TERM=screen-256color tmux"

alias ten="tail -f /usr/local/var/log/nginx/error.log";
alias ven="vim /usr/local/var/log/nginx/error.log";
alias tep="tail -f /usr/local/var/log/php70-error.log";
alias vep="vim /usr/local/var/log/php70-error.log";

# git aliases!
parse_git_branch() {
  git branch 2> /dev/null | sed -e '/^[^*]/d' -e 's/* \(.*\)/\1/'
}

alias gs="git status"
alias gsh="git show"
alias gshs="git show --stat"
alias gl="git log"
alias gln="git log --no-merges"
alias ga="git add"
alias gap="git add -p"
alias gc="git commit -v"
alias gca="git commit --amend"
alias gd="git diff"
alias gds="git diff --stat"
alias gco="git checkout"
alias gcod="git checkout dev"
alias gpo="git push origin"
alias gpl="git push local"
alias gpob="git push origin \`parse_git_branch\`"
alias gpu="git pull origin"
alias gpr="git pull --rebase origin"
alias gprb="git pull --rebase origin \`parse_git_branch\`"
alias gprd="git pull --rebase origin dev"
alias gprbf="git pull --rebase origin \`parse_git_branch\` && git fetch --tags"
alias gprdf="git pull --rebase origin \`parse_git_branch\` && git fetch --tags"
alias gf="git fetch"
alias gt="git tag -a"
alias gtd="git tag -d"
alias gtdr="git push origin :"
alias gst="git stash"
alias gsts="git stash show"
alias gstsp="git stash show --patch"
alias gstp="git stash pop"
alias gsl="git stash list"
alias gft="git fetch --tags"
alias gfa="git fetch --all"
alias gshf="git show --stat --name-only --pretty=\"format:\""
alias gpuo="git push -u origin \`parse_git_branch\`"

alias gau="git update-index --assume-unchanged"
alias gac="git update-index --no-assume-unchanged"

# nginx stuff
NGINXBASE="/usr/local/etc/nginx"
alias sa="cd $NGINXBASE/sites-available && sudo vim && cd -"
alias se="cd $NGINXBASE/sites-enabled && sudo vim && cd -"

function ngensite() {
    toSymlink=$NGINXBASE/sites-enabled/$1.conf

    if [ -e $NGINXBASE/sites-available/$1.conf ]; then
        ln -s $NGINXBASE/sites-available/$1.conf $toSymlink
    else
        echo "$toSymlink already exists."
    fi
}

function ngdissite() {
    toDelete=$NGINXBASE/sites-enabled/$1.conf

    if [ -e $NGINXBASE/sites-available/$1.conf ]; then
        rm $toDelete
    else
        echo "No such sites: $toDelete"
    fi
}

alias nglist="ls -la $NGINXBASE/sites-enabled"
alias nglista="ls -la $NGINXBASE/sites-available"
alias ns="sudo brew services start nginx"
alias nr="sudo brew services restart nginx"
alias nx="sudo brew services stop nginx"
alias as="sudo brew services start httpd"
alias ar="sudo brew services restart httpd"
alias ax="sudo brew services stop httpd"
alias ps="brew services start php@7.1"
alias pr="brew services restart php@7.1"
alias px="brew services stop php@7.1"
alias ms="brew services start mariadb"
alias mr="brew services restart mariadb"
alias mx="brew services stop mariadb"

alias fp="find . -name '*.php' | xargs grep 2>/dev/null --color"
alias fpi="find . -name '*.php' | xargs grep 2>/dev/null --color -i"
alias fa="find . -type f | xargs grep 2>/dev/null --color"
alias fai="find . -type f | xargs grep 2>/dev/null --color -i"
alias fn="find . -name"
alias ff="find . -type f"

function fz {
    find . -iname "*$1*"
}

function fzf {
    find . -type f -iname "*$1*"
}


alias xg="xargs grep"
alias xgi="xargs grep -i"

alias bs="brew services"
alias bsr="brew services restart"
alias bss="brew services start"
alias bsx="brew services stop"
alias sbs="sudo brew services"

alias vimhuge="vim -u \"NONE\""

alias branchDate="for k in \`git branch|perl -pe s/^..//\`;do echo -e \`git show --pretty=format:'%Cgreen%ci %Cblue%cr%Creset' $k|head -n 1\`\\t$k;done|sort -r"

PHPX="php -c /usr/local/etc/php/7.1/php-cli-xdebug.ini"

alias phpx="$PHPX"

alias hosts="sudo vim /etc/hosts"
alias nowutc="echo \"<?php echo (new DateTime('now', new DateTimeZone('UTC')))->format('Y-m-d H:i:s') . PHP_EOL;\" | php"
